<ThemeProvider>

  <Box [css]="{
    justifyContent: 'space-between',
    alignItems: 'center',
    flexDirection: 'column',
    height: 300
  }">
    <Breadcrumbs>
      <ng-template let-selectedItem="selectedItem" let-highlightedItem="highlightedItem">
          <DIV>
              <OL [css]="styleA.olStyle">
                <LI [css]="styleA.liStyle">
                  <Box [css]="styleA.indicatorStyle">{{highlightedItem.value}}</Box>
                </LI>
                <LI [css]="styleA.liStyle" [item]="{value: '1'}" breadcrumbItem><A href="javascript:void(0);">Link 1</A></LI>
                <LI [css]="styleA.liStyle" [item]="{value: '2'}" breadcrumbItem><A href="javascript:void(0);">Link 2</A></LI>
                <LI [css]="styleA.liStyle" [item]="{value: '3'}" breadcrumbItem><A href="javascript:void(0);">Link 3</A></LI>
                <LI [css]="styleA.liStyle" [item]="{value: '4'}" breadcrumbItem><A href="javascript:void(0);">Link 4</A></LI>
                <LI [css]="styleA.liStyle" [item]="{value: '5'}" breadcrumbItem>Link 5</LI>
              </OL>
            </DIV>
      </ng-template>
    </Breadcrumbs>

    <Breadcrumbs>
      <ng-template let-selectedItem="selectedItem">
        <NAV [css]="styleB.navStyle">
          <A href="" [css]="styleB.aStyle" breadcrumbItem>Link 1</A>
          <A href="" [css]="styleB.aStyle" breadcrumbItem>Link 2</A>
          <A href="" [css]="styleB.aStyle" breadcrumbItem>Link 3</A>
          <A href="" [css]="styleB.aStyle" breadcrumbItem>Link 4</A>
          <A href="" [css]="styleB.aStyle" breadcrumbItem>Link 5</A>
        </NAV>
      </ng-template>
    </Breadcrumbs>

    <Breadcrumbs>
      <ng-template let-selectedItem="selectedItem">
        <NAV>
          <OL [css]="styleC.olStyle">
            <LI [css]="styleC.liStyle" breadcrumbItem [item]="{value: '1'}"><A href="#" [style.color]="selectedItem.value === '1' ? 'tomato' : 'blue'">Link 1</A></LI>
            <LI [css]="styleC.liStyle" breadcrumbItem [item]="{value: '2'}"><A href="#" [style.color]="selectedItem.value === '2' ? 'tomato' : 'blue'">Link 2</A></LI>
            <LI [css]="styleC.liStyle" breadcrumbItem [item]="{value: '3'}"><A href="#" [style.color]="selectedItem.value === '3' ? 'tomato' : 'blue'">Link 3</A></LI>
            <LI [css]="styleC.liStyle" breadcrumbItem [item]="{value: '4'}"><A href="#" [style.color]="selectedItem.value === '4' ? 'tomato' : 'blue'">Link 4</A></LI>
            <LI [css]="styleC.liStyle" breadcrumbItem [item]="{value: '5'}"><A href="#" [style.color]="selectedItem.value === '5' ? 'tomato' : 'blue'">Link 5</A></LI>
          </OL>
        </NAV>
      </ng-template>
    </Breadcrumbs>
  
  </Box>

</ThemeProvider>
